/.github @onerishabh

/backend @saurabhzingade vijaynarayan@student.unimelb.edu.au xiyanedwinz@student.unimelb.edu.au

/data @onerishabh xiyanedwinz@student.unimelb.edu.au

/frontend @akashRashok @jaiphookan20

